{% extends 'base.html.twig' %}

{% block body %}
<div class="homepage">
    <div class="slogan">
        <span>{{ 'app.homepage.slogan'|trans }}</span>
        <span>Wunderbar</span>
    </div>
</div>
{% endblock %}