{% extends 'base.html.twig' %}

{% block body %}
<div class="homepage background">
</div>
<div class="homepage">
    <div class="slogan">
        <span>{{ 'app.homepage.slogan'|trans }}</span>
        {% set claims = 'app.homepage.claims'|trans|split('|') %}
        {% for claim in claims %}
            <span class="claim">{{ claim }}!</span>
        {% endfor %}
    </div>
</div>
{% endblock %}